body{
    background-color: #ffffff;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.team-heading{
    background-color: #e42a36;
    color: white;
    /* font-size: 34px;
    padding: 2%; */
}
.card-header{
    background-color: #1149ffe0;
    color: white;
}